# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
dmriprep.egg-info/**/*
dmriprep.egg-info
.eggs/**/*
.eggs

.pixi
.tox

# python distribution
.pytest_cache/**/*
.pytest_cache
.ipynb_checkpoints/**/*
.ipynb_checkpoints

# git
.gitignore
.mailmap
