# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
dmriprep.egg-info/**/*
dmriprep.egg-info
.eggs/**/*
.eggs

# housekeeping tools
.maintenance/**/*
.maintenance
get_version.py
tox.ini

# pip installs
src/**/*
src/

# git
.gitignore
.git/**/*
.git

# other
work/**/*
work
out/**/*
out/

# CI, etc.
.circleci
.circleci/**/*
.zenodo.json
.travis.yml
.readthedocs.yml
CONTRIBUTING.md
