# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
dmriprep.egg-info/**/*
dmriprep.egg-info
.eggs/**/*
.eggs
.pytest_cache/**/*
.pytest_cache
.ipynb_checkpoints/**/*
.ipynb_checkpoints


# housekeeping tools
.maintenance/**/*
.maintenance
get_version.py
tox.ini

# pip installs
src/**/*
src/

# git
.gitignore
.git/**/*
.git
.github/**/*
.github
.mailmap

# other
work/**/*
work
out/**/*
out/

# CI, etc.
.circleci
.circleci/**/*
.codecov.yml
.coveragerc
.pep8speaks.yml
.travis.yml
.zenodo.json

.afq
