Anisha Keshavan <akeshavan@gmail.com> <akeshavan@ucla.edu>
Anisha Keshavan <akeshavan@gmail.com> <keshavan@berkeley.edu>
Ariel Rokem <arokem@berkeley.edu>
Ariel Rokem <arokem@berkeley.edu> <arokem@gmail.com>
Derek Pisner <dpisner@utexas.edu>
Derek Pisner <dpisner@utexas.edu> dPys <dpisner@utexas.edu>
Garikoitz Lerma-Usabiaga <garikoitz@gmail.com> garikoitz <garikoitz@gmail.com>
James D. Kent <james-kent@uiowa.edu>
James D. Kent <james-kent@uiowa.edu> <jamesdkent21@gmail.com>
James D. Kent <james-kent@uiowa.edu> Fred Mertz <mertzf@bargle.argle>
Michael Joseph <josephmje.22@gmail.com> mjoseph <josephmje.22@gmail.com>
Oscar Esteban <code@oscaresteban.es>
Oscar Esteban <code@oscaresteban.es> <oesteban@stanford.edu>
Oscar Esteban <code@oscaresteban.es> oesteban <code@oscaresteban.es>
