# General
include CHANGES.rst
include LICENSE

# versioneer
include versioneer.py
include dmriprep/_version.py
recursive-include * *.nii.gz
recursive-include * *.html
recursive-include * *.js
recursive-include * *.json
recursive-include * *.txt
recursive-include * *.csv
recursive-include dmriprep/viz *
recursive-include dmriprep/utils *
recursive-include dmriprep/interfaces *
recursive-include dmriprep/data *
recursive-include dmriprep/config *
recursive-include dmriprep/cli *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include * *.yaml
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
