aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
bids-validator==1.8.9
black==22.1.0
bleach==4.1.0
brainspace==0.1.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
ci-info==0.2.0
click==8.0.3
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
dipy==1.4.1
-e git+https://github.com/GalBenZvi/dmriprep@bbdb8f418388fa091a71d6002dbf921bcb3e189e#egg=dmriprep
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
esbonio==0.10.0
etelemetry==0.2.2
filelock==3.4.2
fonttools==4.28.5
formulaic==0.2.4
frozenlist==1.2.0
h5py==3.6.0
idna==3.3
imageio==2.13.5
imagesize==1.3.0
importlib-metadata==4.11.3
indexed-gzip==1.6.4
interface-meta==1.2.4
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isodate==0.6.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.3.3
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lockfile==0.12.2
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
multidict==5.2.0
mypy-extensions==0.4.3
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nibabel==3.2.1
nilearn==0.8.1
-e git+https://github.com/GalBenZvi/nipype.git@a79c5d4579f73505eec3018c9db225a07f57630c#egg=nipype
nitransforms==21.0.0
-e git+https://github.com/GalBenZvi/niworkflows.git@c52b88dbaa7ffdec9491cf767f303b0e564d895c#egg=niworkflows
notebook==6.4.6
num2words==0.5.10
numpy==1.22.0
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkg_resources==0.0.0
platformdirs==2.4.1
popylar==0.2
prometheus-client==0.12.0
prompt-toolkit==3.0.24
prov==2.0.0
ptyprocess==0.7.0
pybids==0.14.0
pycparser==2.21
pydantic==1.8.2
pydot==1.4.2
pygls==0.11.3
Pygments==2.11.1
pyparsing==3.0.6
pyrsistent==0.18.0
pyspellchecker==0.6.3
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.0
rdflib==6.1.1
requests==2.26.0
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
sdcflows==2.0.10
seaborn==0.11.2
Send2Trash==1.8.0
simplejson==3.17.6
six==1.16.0
smriprep==0.8.2
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.24
surfplot==0.1.0
svgutils==0.3.4
templateflow==0.7.2
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.3
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
traits==6.3.2
transforms3d==0.3.1
typeguard==2.13.3
typing_extensions==4.0.1
urllib3==1.26.7
vtk==9.1.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
wrapt==1.13.3
wslink==1.3.0
yarl==1.7.2
zipp==3.7.0
