apiVersion: batch/v1
kind: Job
metadata:
  name: dmriprep-{{subject}}
spec:
  template:
    spec:
      containers:
      - name: dmriprep-subject
        image: gcr.io/dmriprep/dmriprep:kube1
        command: ["/neurodocker/startup.sh", "./dmriprep_all.sh",  "sub-NDARED632KNG", "{{access_key}}", "{{secret_key}}"]
      restartPolicy: Never
  backoffLimit: 1
