apiVersion: batch/v1
kind: Job
metadata:
  name: dmriprep-{{subject_lower}}
spec:
  template:
    spec:
      containers:
      - name: dmriprep-subject
        image: gcr.io/dmriprep/dmriprep:kube3
        command: ["/neurodocker/startup.sh", "./dmriprep_all.sh",  "{{subject}}", "{{access_key}}", "{{secret_key}}"]
        resources:
          requests:
            memory: "6G"
            cpu: "1"
      restartPolicy: Never
  backoffLimit: 1
